.App {
  text-align: center;
  width: 100%;
}

.flow-builder {
  display: flex;
  height: 100vh;
  width: 80%;
}

.settings-panel {
  position: absolute;
  right: 0;
  top: 10;
  width: 200px;
  padding: 10px;
  border-left: 1px solid #ddd;
  background: white;
}

.reactflow-wrapper {
  flex: 1;
  height: 100%;
}
